<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
<body>
<% include ../views/partials/header %>
<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1><%=title%>
                    <p class="lead"></p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-12">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-spacer"> </div>
            </div>
        </div>
    </div><!-- /cont -->

</div>


<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <% books.forEach(function(book, index){%>
                    <!--/stories-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3><%=book.name%></h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4><span class="label label-default"><%=book.author%></span></h4><h4>
                                        <small style="font-family:courier,'new courier';" class="text-muted">$<%=book.price%>  • <a href="/book/<%=index%>" class="text-muted">Read More</a></small>
                                    </h4></div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>
                    <%});%>
                    <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


                </div>
            </div>



        </div><!--/col-12-->
    </div>
</div>


<hr>

<div class="container" id="footer">
    <div class="row">
        <div class="col col-sm-12">

            <h1>Follow Us</h1>
            <div class="btn-group">
                <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
            </div>

        </div>
    </div>
</div>

<hr>

<hr>

<% include ../views/partials/footer %>
</body>
</html>