<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext" type="text/css">
    <!--<link rel="stylesheet" href="/client.bundle.css" type="text/css">-->
</head>